/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Noto+Sans+Runic&display=swap");

:root {
  /* NEUTRAL */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-grey-1: hsl(211, 68%, 94%);
  --color-grey-2: hsl(219, 14%, 63%);
  --color-grey-3: hsl(219, 12%, 42%);
  --color-grey-4: hsl(224, 21%, 14%);
  --color-black: hsl(0, 0%, 0%);

  --color-transparent-50: hsla(0, 0%, 100%, 0.5);
  --color-transparent-black-50: hsla(0, 0%, 0%, 0.5);

  /* TEXT */
  --text-heading-size-1: 5rem;
  --text-heading-size-2: 2.4rem;
  --text-heading-size-3: 1.8rem;
  --text-para-size: 1.6rem;
  --text-para-size-small: 1.2rem;
  /* --text-serif-font: "Merriweather", serif; */
  --text-sans-serif-font: "Chakra Petch", sans-serif;
  --text-runic: "Noto Sans Runic", sans-serif;
  --text-weight-regular: 400;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;

  --text-color-light: #e0eaff;
  --text-color-dark: #182032;

  /* CLIP PATHS */
  /* Panel with top left / bottom right cut corner */
  --cut-corners: polygon(
    0 8px,
    8px 0,
    100% 0,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0 100%
  );

  --cut-corners-lg: polygon(
    0 16px,
    16px 0,
    100% 0,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0 100%
  );

  /* Border with cut corners in tl/br */
  --cut-corners-border: polygon(
    0 16px,
    16px 0,
    100% 0,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0 100%,
    0 16px,
    2px calc(16px + 0.41px),
    2px calc(100% - 2px),
    calc(100% - 16px - 0.4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 16px - 0.4px),
    calc(100% - 2px) 2px,
    calc(16px + 0.4px) 2px,
    2px calc(16px + 0.4px)
  );

  --drop-shadow: drop-shadow(4px 4px 0px var(--color-accent-primary));
}

/* Semantic variables */
:root {
  /* PRIMARY */
  --color-primary-1: #ffffffef;
  /* SECONDARY */
  --color-secondary-1: #c50a0a;
  /* ACCENT */
  --color-accent-primary: #00bfffd0;
  /* BACKGROUND-COLOR */
  --color-background: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* PRIMARY */
    --color-primary-1: #ffffff;
    /* SECONDARY */
    --color-secondary-1: #c50a0a;
    /* ACCENT */
    --color-accent-primary: #00bfff;
    /* BACKGROUND-COLOR */
    --color-background: var(--color-black);
  }
}
