---
import { Image } from 'astro:assets';
import headerImage from "../assets/images/header.png"
---

<div class="header">
  <Image src={headerImage} alt="Header graphic block" height="16" width="1920">
</div>

<style>
.header {
  opacity: 0.9;
}
</style>