<div id="hero">
  <h1>Lorem Ipsum</h1>
  <p>Lorem ipsum dolor sit amet</p>
</div>

<style>
#hero {
  /* background-color: var(--color-accent-primary); */
  border: var(--color-accent-primary) 1px solid;
  width: 50rem;
  margin: 3rem;
  padding: 1rem;
}
</style>