---
import { Image } from 'astro:assets';
import profileImage from '../assets/images/profile-roman-raizen-unsplash-glitch.jpg';
---
<div class="profile">
  <Image class="image" src={profileImage} alt="Profile image" />
  <span class="flavor-text">/// FEATURES.PROFILE</span>
  <span class="graphic-block"></span>
</div>

<style>
  .profile {
    position: relative;
    max-width: 20rem;
    height: 30rem;
    margin-left: 1rem;

    &:before {
      content: "";
      position: absolute;
      inset: -7px -3px;
      background: var(--color-primary-1);
      clip-path: var(--cut-corners-border)
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: var(--cut-corners)
    }

    .flavor-text {
      position: absolute;
      bottom: 0;
      left: -7px;
      margin: 0 1rem;
      padding: 0 1rem;
      background: var(--color-primary-1);
      font-size: var(--text-para-size-small);
      color: var(--color-transparent-black-50);
      clip-path: var(--cut-corners)
    }

    .graphic-block {
      position: absolute;
      top: 0;
      left: 7px;
      right: 0px;
      height: 0.5rem;
      background: var(--color-primary-1);
      clip-path: var(--cut-corners)
    }
  }
</style>