---
import Project from '../components/Project.astro';
---

<div id="projects">
  <div class="header">
    <div class="header-title-container">
      <span class="graphic-block-before"></span>
      <h2 class="header-title">Projects</h2>
      <span class="graphic-block-after"></span>
    </div>
    <p class="header-description">Collection of professional and hobby projects. Live links and code can not be shared for
      professional projects and images have been modified when necessary.
    </p>
  </div>
  <div class="project-list">
    <Project 
      title='Visualizing effects of construction on surrounding traffic'
      description=`Built a tool vizualising simulated effects of construction on surrounding traffic.
                  Tool was used to decide on construction timelines to minimize traffic impact.`
      image='/hkiiho3.webp'
      alt='Visualizing effects of construction on traffic'
      tags={["JS", "Leaflet", "QGIS"]}
      flavorText='/// PRJCT : : HEAT.v1.25'>
    </Project>
    <Project 
      title='Visualizing carbon dioxide emissions and sinks'
      description=`Visualized carbon dioxide emissions and sinks from different sources placed on an YKR-grid`
      image='/hiili1.webp'
      alt='Visualizing carbon dioxide emissions and sinks'
      tags={["JS", "Leaflet", "QGIS"]}
      flavorText='/// PRJC : : CO2.v1.01'>
    </Project>
    <Project 
      title='Interactive tramline 3D visualization'
      description=`Built and maintainted functionality for a 3D virtual representation of an upcoming tramline for multiple years.
                  Product was used excensively by professionals to help with various design decisions and by locals to see what's coming.`
      image='/kapa1.webp'
      alt='Tramline visualization'
      link='wsp.com/fi-fi/nakemyksia/virtuaalimalli-tukee-paatoksentekoa-kaupunkisuunnittelussa'
      linkText="Read More"
      tags={["Unity", "C#"]}
      flavorText='/// PRJCT : : TR3D.v2.0_3'>
    </Project>
  </div>
</div>

<style>
  #projects {
    margin-top: 2rem;
    margin-bottom: 10rem;
    max-width: 80rem;
    height: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;

      .graphic-block-before, .graphic-block-after {
        position: relative;
        background-color: var(--color-primary-1);
        width: 100%;
        height: 0.5rem;
        clip-path: var(--cut-corners);
      }

      .graphic-block-before, .graphic-block-after {
        &:before, &:after {
          content: "";
          position: absolute;
          background-color: var(--color-background);
        }
      }

      .graphic-block-before {
        &:before {
          top: 0;
          right: 7%;
          width: 0.5rem;
          height: 100%;
        }

        &:after {
          top: 0;
          right: 15%;
          width: 50%;
          height: 25%;
        }
      }

      .graphic-block-after {
        &:before {
          top: 0;
          left: 7%;
          width: 7%;
          height: 50%;
        }

        &:after {
          bottom: 0;
          left: 30%;
          width: 35%;
          height: 25%;
        }
      }

      .header-title {
        white-space: nowrap;
        margin: 0 1rem;
      }
    }
  }
</style>